@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SHARED STYLES */

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

.display-flex,
.navbar ul,
.banner-container {
    display: flex;
}

.margin {
    margin: 0 auto;
}

/* NAVBAR RELATED STYLES */

nav {
    max-width: 1200px;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    margin-right: 34px;
}

.nav-menu {
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3A;
}

nav a {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}


/* BANNER RELATED SYLES */

.banner-section {
    margin-top: 50px;

}

.banner-container {
    max-width: 1188px;
    height: 475px;
    /* border:1px solid black; */
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
    align-items: center;
    gap: 133px;

}

.banner-content {
    max-width: 582px;

}

.banner-content h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 52px;
    font-weight: 900;
    color: #3A3A3A;
}

.banner-content p {
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    color: white;
}



.banner-image {
    max-width: 440px;
}



/* SPONSORS RELATED STYLES */

.sponsor-companies {
    margin-top: 69px;
}

.sponsor-container {
    max-width: 1110px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 41px 61px;

}

/* CARD SECTION STYLES */

.card-section {}

.section-heading {
    text-align: center;
}

.card-container {
    max-width: 1047px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    max-width: 329px;
    /* border: 1px solid black; */
    border-radius: 5px;
    border: none;
    padding: 17px 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card img {
    margin-bottom: 16px;
}

.product-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 6px;
    color: #18191F;

}

.price {
    font-size: 24px;
    font-weight: 400;
}

.card-description {
    font-size: 14px;
    font-weight: bold;
    color: #3A3A3A;
}

.stars {
    color: rgb(248, 248, 34);
    margin-right: 5px;
}

.rating {
    font-size: 14px;
    color: #3A3A3A;
}

.right {
    max-width: 1047px;
    justify-content: center;
    text-align: right;
    margin-top: 10px;

}

.right button {
    border: none;
    color: #E02C6D;
    font-size: 16px;
    background-color: transparent;
    font-weight: 800;
}










/* RESPONSIVE FOR MOBILE DEVICE */

@media screen and (max-width: 576px) {
    nav {

        padding-top: 50px;
        justify-content: center;
        text-align: center;
    }

    .navbar,
    .nav-menu {
        flex-direction: column;
    }

    .logo {
        font-size: 18px;
    }



}