@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SHARED STYLES */

.display-flex,
nav ul {
    display: flex;
}

.margin {
    margin: 0 auto;
}

/* NAVBAR RELATED STYLES */

nav {
    max-width: 1200px;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    margin-right: 34px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3A;
}

nav a {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

